*{
	font-family: sans-serif;
}
body{
	display: flex;
	flex-direction: column;
	margin:0;
	padding: 0;
}
header{
	background-color: #000;
  	box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 25px 0px;
}
.container{
	width: 80%;
	margin:0 auto;
}
.d-flex{
	display: flex;
}
.fx-space-between{
	justify-content: space-between
}
.icon-red{
	color:#ff505f;
}
/* .container__logo {
	display: flex;
    height: 100px;
    width: 120px;
    float: left;
		background:rgba(0,0,0,0) url(../img/logo.png) no-repeat center;
		background-size:cover ;
    margin:0 30px;
} */
.container__logo{
	margin: 0;
	display: flex;
	color:#fff;
	font-size: 36pt;
	-webkit-align-items: center;
	        align-items: center;
}
.container__menu{
	display: flex;
	list-style-type: none;
	margin:0 auto;
}
.container__menu li a.active{
	background: #fff;
	color:#000;
}
.container__menu li a.active:hover{
	background: #fff;
	color:#000;
}

.container__menu li{
	margin-left: 20px;
	position: relative;
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
}
.container__menu li a{	
	font-size: 14px;
	text-decoration: none;
	padding:40px 25px;
	color: #ffffff;
}
.container__menu li a:hover{
		box-shadow: inset 0 5px #fff;
		color:#fff;
}
span{
	margin-right: 20px;
}
.section__header{
	margin-bottom: 30px;
	margin-top: 30px;
	border-bottom: 1px solid #e3e3e3;
}
.section__header__title{
	font-weight: normal;
	font-size: 18px;
}
.watch-button{
	background: #000;
}